* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster Two', cursive;
  height: 100vh;
  width: 100%;
  background-color: #202845;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  position: relative;
}

.App-Wrapper {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.App-x {
  font-size: 300px;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  margin-top: -105px;
  margin-left: -50px;
  color: rgba(0, 0, 0, 0.5);
}

.App-o {
  font-size: 400px;
  font-weight: 900;
  margin-top: -75px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 89%;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 0px) and (max-width: 992px){
  .App-o {
    margin-left: 80%;
  }
}

.App-header {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

h1 {
  /* font-family: "Roboto", sans-serif; */
  font-size: 70px;
  color: #fff;
}

h2 {
  font-size: 50px;
  padding-bottom: 10px;
  color: #fff;
}

h3 {
  font-size: 40px;
  color: #fff;
  padding-bottom: 10px;
}

p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
}

span{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
}

.text{
  padding-top: 10px;
}

.main-con{
  margin-top: 30px
}

.amount-input {
  height: 40px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: #fff;
  outline: none;
  font-size: 18px;
}

.amount-input::placeholder {
  font-size: 18px;
}

.account-balance-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.account-balance {
  height: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

button {
  background-color: rgb(245, 210, 24);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 10px;
}

button::disabled {
  opacity: 0.5;
  background-color: black;
}

.player-btn {
  padding-top: 30px;
  padding-bottom: 10px;
}

.deployorattach{
  padding-top: 30px;
}

.ContractInfo {
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
  width: 80vw;
  height: 7em;
  padding: 2vw;
  margin-top: 30px;
  margin-bottom: 30px;
  /* overflow-x: scroll; */
  white-space: pre;
}

textarea{
  outline: none;
  border: none;
}

textarea::placeholder {
  color: #fff;
  font-size: 18px;
}

.game{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.square{
  /* width: 80px; */
  height: 80px;
  border: 1px solid rgb(60,111,255);
  font-size: 32px;
  display: flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  color: white;
}

.square-x-color {
  color: rgb(245, 210, 24);
}

.square-o-color {
  color: white;
}

.board-row {
  display: flex;
  justify-content:center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin-top: 20px;
}